nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    

    margin-inline: auto;
    padding: 20px;

    & .link {
        display: inline-block;

        width: 100px;
    
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
    }

    & .logo {
        width: 150px;
    }
}

.light {
    color: #FFF;
}

.dark {
    color: #000;
}