nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    margin-inline: auto;
    padding: 20px;

    max-width: 1200px;

    & .link {
        display: inline-block;
    
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
    }
}

.light {
    color: #FFF;
}

.dark {
    color: #000;
}